body {
    overflow: hidden; /* Hide scrollbars */
  }

.home__bg {
    background-image: url(https://uploads-ssl.webflow.com/5e9cdc9e9aae7e09dbbc7b72/5e9e131121922fa4f55de3ef_hero-min.png);
    height: 72vh;
    width: 72vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}
